@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/mixins";
@import "common/fonts";
@import "common/typography";

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "sections/home";
@import "sections/team";


// Many properties from this plugin are applied inline by JS so lots of !importants here
.gss-container {
    .cycle-slideshow {
        background-image: linear-gradient(151deg, rgba(70, 66, 71, 0.9), rgba(37, 34, 38, 0.9));
    }

    .home & {
        .cycle-slideshow {
            overflow: hidden;
            min-height: 350px;
        }
    }

    img.cycle-slide, img.cycle-slide-active {
        top: 0 !important;
        bottom: auto !important;
        width: 100% !important;
        height: 100% !important;
        max-width: none !important;
        max-height: none !important;
        margin: 0 auto !important;

        background-size: cover;
        background-position: center;

        // No longer necessary now that we're using background images
        // .object-fit & {
        //     max-height: 100% !important;
        //     object-fit: cover !important;
        // }
    }

    .gss-info {
        overflow: visible;
    }
    .gss-captions {
        @include white-box();
        cursor: pointer;
        z-index: 100;
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 66.67%;
        padding: 0;
        min-height: 0 !important;

        @media (max-width: 600px) {
            width: 90%;
        }

        h3 {
            @include yellow-box(!important);
            padding: 7px 12px 4px;
            font-size: 16px;

            &:empty {
                display: none;
            }

            a {
                color: #4a4a4a;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .no-caption-body h3 {
            width: 100%;
            padding: 15px 20px 12px;
            font-size: 18px;
        }

        .image-caption {
            padding: 10px 12px;
            color: #4a4a4a;
            font-size: 14px;
            line-height: 1.4;

            &:empty {
                display: none;
            }

            a {
                color: #4a4a4a;
                text-decoration: underline;

                &:hover {
                    color: #888;
                }
            }
        }

        .home & {
            h3 {
                padding: 9px 20px 6px;
                font-size: 20px;
            }
            &:hover h3 {
                @include yellow-box-hover(!important);
            }
            .no-caption-body h3 {
                padding: 19px 30px 16px;
                font-size: 24px;
            }

            .image-caption {
                padding: 15px 42px 27px 21px;
                font-size: 18px;
            }
        }
    }

    .gss-nav {
        position: absolute;
        float: none;
        bottom: 100%;
        height: 0; // so that the middle of this element, between the two actual navs, doesn't block click target of image behind it
        width: 100%;
        margin: 0 0 40% 0;

        .home & {
            // Home page slideshow has different aspect ratio
            margin-bottom: 20%;

            // This is all a hack, sorry
            @media (max-width: 850px) {
                margin-bottom: 30%;
            }
            @media (max-width: 600px) {
                margin-bottom: 40%;
            }
            @media (max-width: 400px) {
                margin-bottom: 50%;
            }
        }

        .gss-next {
            float: right;
        }

        .gss-prev, .gss-next {
            width: 36px;
            height: 32px;
            font-size: 32px;
            border-color: transparent;
            color: #ffd923;
        }
    }

    .gss-pager {
        right: auto;
        left: 5px;

        @media (max-width: 600px) {
            display: none;
        }

        a {
            background-color: rgba(73, 73, 73, 0.9);
            border: solid 1px #ffd923;

            &:hover,
            &.cycle-pager-active {
                background-color: #ffd923;
            }
        }
    }

    .carousel-pager {
        margin: 0;
        padding: 10px;
    }
    .cycle-carousel-wrap {
        margin: 10px 0 0 5px !important;
    }
    .cycle-slide {
        cursor: pointer;

        img {
            border: 1px solid transparent;
            transition: border-color 300ms;
        }
        &:hover img {
            border: 1px solid #ffd923;
        }
    }
}
