@font-face {
    font-family: 'AvenirNextWeb';
    src: url('../fonts/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
         url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
         url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextWeb';
    src: url('../fonts/AvenirNext-Medium.eot');
    src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
         url('../fonts/AvenirNext-Medium.woff') format('woff'),
         url('../fonts/AvenirNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextWeb';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('../fonts/AvenirNext-Regular.woff') format('woff'),
         url('../fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PalatinoWeb';
    src: url('../fonts/palatino-roman.eot');
    src: url('../fonts/palatino-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/palatino-roman.woff2') format('woff2'),
         url('../fonts/palatino-roman.woff') format('woff'),
         url('../fonts/palatino-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Attempt to load local fonts first:
$font-stack-copy: Palatino, PalatinoWeb, Georgia, serif;
$font-stack-heading: "Avenir Next", AvenirNextWeb, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
