body {
    font: 16px/20px $font-stack-serif;
    background: #EEE url('../images/bg-main.jpg') center repeat;
    overflow-x: hidden;
}
.content {
    position: relative;
    padding-bottom: 75px;
    overflow: hidden;

    @media (max-width: 600px) {
        padding-bottom: 25px;
    }
}
.page-header {
    margin: 70px auto 5px;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-sans;
}

iframe {
    max-width: 100%;
}

.page-header .timeline {
    position: relative;
    width: calc(100% + 60px);
    margin: 10px 0 25px -30px;
    white-space: nowrap;
    text-align: center;
    font-family: $font-stack-sans;
    font-weight: 500;

    .month {
        @include gray-box();
        cursor: default;
        position: relative;
        display: inline-block;
        width: 42px;
        margin-right: 1px;
        padding: 5px 7px 4px 0;

        &:hover, &:active, &:focus {
            color: #ffee49;
            text-decoration: none;
        }

        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 0;
            width: 0;
            height: 0;
        }
        &:after {
            right: 0;
            border-left: 8px solid transparent;
            border-bottom: 29px solid #eeeeee;
        }
        &:before {
            left: -8px;
            border-right: 8px solid rgba(63,59,64,0.925);
            border-top: 29px solid rgba(0, 0, 0, 0); // overlaps .rr-left
        }

        &.year-end:after {
            border-bottom-color: #ffee49;
            // this works but ends up with a fat chunk of yellow below, not just the line, so the .year bit would need its own angular border to cover it... etc.
            // border-left-width: 9px;
            // border-bottom-width: 44px;
        }

        .letter {
            display: table-cell;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;

            color: #ffee49;
            font-size: 12px;
        }

        &.has-event {
            .letter {
                @include yellow-box();
                position: relative;
                z-index: 1;
                border-radius: 50%;
                color: #212121;
                transition: box-shadow 250ms;
            }

            &.is-current-event,
            &:hover {
                cursor: pointer;

                .letter {
                    box-shadow: 0 0 1px 4px rgba(255, 224, 50, .6);
                }
            }
        }
    }

    .year {
        position: absolute;
        bottom: -12px;
        margin-left: -4px;
        font-size: 9.6px;
        color: #4a4a4a;
    }
}
