body {
    font: 16px/20px $font-stack-serif;
    background: #EEE url('../images/bg-main.jpg') center repeat;
}
.content {
    position: relative;
    padding-bottom: 75px;
    overflow: hidden;
}
.page-header {
    margin: 70px auto 5px;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-sans;
}


.page-header .timeline {
    position: relative;
    width: calc(100% + 60px);
    margin: 10px 0 25px -30px;
    white-space: nowrap;
    font-family: $font-stack-sans;
    font-weight: 500;

    .month {
        @include gray-box();
        cursor: default;
        display: inline-block;
        width: 50px;
        margin-right: 1px;
        padding: 5px 7px 4px;

        &:hover, &:active, &:focus {
            color: #ffee49;
            text-decoration: none;
        }

        .letter {
            display: table-cell;
            width: 20px;
            height: 20px;
            text-align: center;
            vertical-align: middle;

            color: #ffee49;
            font-size: 12px;
        }

        &.has-event {
            .letter {
                @include yellow-box();
                border-radius: 50%;
                color: #212121;
                transition: box-shadow 250ms;
            }

            &.is-current-event,
            &:hover {
                cursor: pointer;

                .letter {
                    box-shadow: 0 0 1px 4px rgba(255, 224, 50, .6);
                }
            }
        }
    }

    .year {
        position: absolute;
        bottom: -12px;
        margin-left: 2px;
        font-size: 9.6px;
        color: #4a4a4a;
    }
}
