@mixin font-nav() {
    font: 500 14px $font-stack-sans;
    letter-spacing: 0.9px;
    color: #4a4a4a;
    text-shadow: 1px 0 1px #ffffff;
    text-transform: uppercase;
}

@mixin font-sub-nav() {
    font: italic 400 13px $font-stack-sans;
    letter-spacing: 1.3px;
    color: white;
    text-shadow: none;
    text-transform: none;
}

@mixin h3($important:"") {
    font: 500 20px $font-stack-sans unquote($important);
    color: #4a4a4a unquote($important);
    text-transform: uppercase unquote($important);
    text-shadow: 0 1px 1px #ffffff unquote($important);
}
