// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-columns:          12;
$grid-gutter-width:     20px;

// Colors
$brand-primary:         #27ae60;

$gray-bg-dark: rgba(74, 73, 74, 0.9);

$yellow-box-bottom: #fcda19;
$yellow-box-top: rgba(255, 224, 50, 0);
$yellow-box-bg: rgba(255, 224, 50, 0.8);

$white-box-bottom: rgba(255, 255, 255, 0.96);
$white-box-top: rgba(255, 255, 255, 0);
$white-box-bg: rgba(255, 255, 255, 0.9);
