footer {
    margin-top: 50px;
    
    .nav > li > a {
        display: inline-block;
        padding: 5px 0;

        &:focus, &:hover {
            background: none;
        }
    }

    .sub-menu {
        display: none;
    }

    .info {
        text-align: right;
    }
}