.page-child.has-feat-img {
    .page-bg-image {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .page-header h1 {
        color: white;
        text-shadow: 2px 2px 2px #4a4a4a;
    }

    .page-header.partners h1 {
        color: #4a4a4a;
        text-shadow: 0 1px 1px #ffffff;
    }
}

.page-parent {
    .page-header h1 {
        text-transform: uppercase;
    }

    .sub-page {
        @include white-box();
        height: 200px;
        margin-bottom: 30px;

        .image {
            float: right;
            margin: 0 0 0 50px;
        }

        h3 {
            @include yellow-box();
        }

        .excerpt {
            padding: 20px;
        }

        &:nth-child(2n) {
            text-align: right;

            .image {
                float: left;
                margin: 0 50px 0 0;
            }

            .excerpt {
                text-align: left;
            }
        }
    }
}

.post-content-wrapper {
    margin-bottom: 25px;

    h3 {
        @include yellow-box();
    }
 
    .post-content {
        @include white-box();
    }

    .post-content-inner {
        padding: 30px 30px 50px;
    }
}

.about {
    .partner-image {
        display: inline-block;
        margin: 0 25px 25px 0;

        img {
            width: auto;
            height: auto;
            max-width: 300px;
            max-height: 150px;
        }
    }
}
