.page-header {
    margin: 70px auto 5px;
}

.page-parent {
    .sub-page {
        @include white-box();
        height: 200px;
        margin-bottom: 30px;

        .image {
            float: right;
            margin: 0 0 0 50px;
        }

        h3 {
            @include yellow-box();
        }

        .excerpt {
            padding: 20px;
        }

        &:nth-child(2n) {
            text-align: right;

            .image {
                float: left;
                margin: 0 50px 0 0;
            }

            .excerpt {
                text-align: left;
            }
        }
    }
}

.post-content-wrapper {
    float: none;
    margin: auto;

    h3 {
        @include yellow-box();
    }
 
    .post-content {
        @include white-box();
    }

    .post-content-inner {
        padding: 30px 30px 50px;
    }
}
