.donate.has-feat-img,
.page-child.has-feat-img {
    .page-bg-image {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .page-header h1 {
        color: white;
        text-shadow: 2px 2px 2px #4a4a4a;
    }

    .page-header.partners h1 {
        color: #4a4a4a;
        text-shadow: 0 1px 1px #ffffff;
    }
}

.page-parent {
    .page-header h1 {
        text-transform: uppercase;
    }
}

.alternating-rows {
    @include white-box();
    position: relative;
    min-height: 200px;
    margin-bottom: 30px;

    .image {
        float: right;
        max-width: 50%;
        margin: 0 0 0 30px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &.full-content .image {
        margin-bottom: 20px !important;
    }

    header {
        @include yellow-box();
        position: absolute;
        display: inline-block;
        padding-top: 2px;

        a:hover {
            text-decoration: none;
        }
    }
    &:nth-child(2n+1) header {
        left: 0;
    }
    &:nth-child(2n) header {
        right: 0;
    }

    time {
        display: inline-block;
        position: relative;
        bottom: -10px;
        margin: 0 7px 12px 0;

        color: #4a4a4a;
        font-size: 14px;
        font-family: $font-stack-sans;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 0.9px;
    }

    .body {
        padding: 70px 20px 20px;

        &.is-short {
            padding: 80px 20px 50px;
            font-size: 20px;
            line-height: 25px;
        }

        p {
            margin: 10px 0;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    @media (max-width: 1000px) {
        &.long-title .body {
            padding-top: 120px;
        }
    }
    @media (max-width: 480px) {
        .body {
            padding-top: 120px;
        }
    }

    &:nth-child(2n+1) {
        h3 {
            padding-left: 20px;
        }
    }

    &:nth-child(2n) {
        text-align: right;

        h3 {
            padding-right: 20px;
        }

        .image {
            float: left;
            margin: 0 30px 0 0;
        }

        .body {
            text-align: left;

            &.is-short {
                padding-top: 70px;
            }
        }
    }

    @media (max-width: 600px) {
        .image {
            margin: 0 0 20px !important;

            &, img {
                width: 100%;
                max-width: 100%;
            }
        }

        time {
            bottom: 0;
            margin-right: 20px;
            margin-left: 20px;
        }

        .body.is-short {
            font-size: 16px;
            line-height: 20px;
            padding: 20px;
        }
    }
}

.post-content-wrapper {
    margin-bottom: 25px;

    h3 {
        @include yellow-box();
    }
 
    .post-content {
        @include white-box();
    }

    .post-content-inner {
        padding: 30px 30px 50px;
    }
}

.about {
    .partner-image {
        display: inline-block;
        margin: 0 25px 25px 0;

        img {
            width: auto;
            height: auto;
            max-width: 100px;
            max-height: 150px;
        }
    }
}

.events-timeline {
    .events-container {
        position: relative;

        .tgp-post {
            transition: opacity 300ms, box-shadow 300ms;
        }

        &.is-scrolled {
            .tgp-post {
                opacity: 0.5;

                &.is-active {
                    opacity: 1;
                    box-shadow: 0 2px 3px 0 rgba(74, 73, 74, 0.5), 0 2px 4px 0 #ffee49;
                }
            }
        }
    }
}
