.btn-primary {
    border-radius: 3px;
    border: 0;
    background: #4a4a4a;
    box-shadow: 2px 0 3px 0 rgba(74, 73, 74, 0.5);
    color: white;
    font: 500 16px $font-stack-sans;
    text-transform: uppercase;
}