// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

// Using Contact Form 7 plugin class names (wpcf7)
.tgp-form-container form {
    color: #4a4a4a;

    label {
        font-family: $font-stack-sans;
        font-weight: 500;
        text-transform: uppercase;
    }

    .form-instructions {
        display: inline-block;
        margin-bottom: 5px;
        font-family: $font-stack-sans;
        font-weight: 500;
    }

    p > label {
        width: 100%;
    }

    .wpcf7-form-control-wrap {
        display: block;
        margin-top: 8px;

        input[type=text], input[type=number], input[type=email], textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #bab5bb;
            box-shadow: inset 0 1px 3px 0 rgba(10, 10, 10, 0.09);
            font-family: $font-stack-serif;
            letter-spacing: 0.3px;

            &:focus {
                border-color: rgba(255, 217, 34, 0.8);
                outline: none;
            }
        }

        span[role=alert] {
            margin-top: 5px;
            text-transform: none;
        }
    }

    .form-section {
        margin-top: 20px;
    }

    .radio-table {
        width: 100%;

        td {
            width: 33%;
            vertical-align: top;
        }

            .weird-fake-newline {
                position: absolute;
                margin-top: 25px;
            }

        label {
            margin-top: 10px;
            color: #6c6c6c;
            font-family: $font-stack-serif;
            font-weight: normal;
            text-transform: none;
        }
        tr:first-child label {
            margin-top: 0;
        }

        input[type=radio] {
            margin-right: 10px;
        }

        .wpcf7-form-control-wrap {
            margin-top: 0;
        }
    }

    .checkboxes {
        margin: 25px 10px 30px 5px;

        .wpcf7-form-control-wrap {
            margin: 0;
        }

        label {
            cursor: pointer;
            width: 100%;
            margin: 0;
            font-family: $font-stack-serif;
            font-weight: normal;
            color: #6c6c6c;
            text-transform: none;
        }

        input[type=checkbox] {
            float: right;
        }
    }

    .textarea-wrap {
        font-family: $font-stack-sans;
        font-weight: 500;

        textarea {
            max-height: 150px;
        }
    }

    .submit-wrap {
        margin-top: 20px;
        text-align: center;

        input[type=submit] {
            @extend .btn;
            @extend .btn-primary;
            padding: 12px 35px 10px;
            font-size: 20px;
        }
    }

    .wpcf7-response-output {
        @extend .alert;
        border-width: 1px;

        &.wpcf7-mail-sent-ok {
            @extend .alert-success;
        }
        &.wpcf7-mail-sent-ng {
            @extend .alert-danger;
        }
        &.wpcf7-spam-blocked {
            @extend .alert-warning;
        }
        &.wpcf7-validation-errors {
            @extend .alert-info;
        }
    }

    .money-input {
        input {
            padding-left: 20px !important;
        }

        &:before {
            content: '$';
            position: absolute;
            padding: 11px;
        }
    }

    #braintree-form {
        margin-top: 10px;
    }

    .form-section.donate {
        text-align: center;

        input[type=submit] {
            font-size: 20px;
            font-weight: 500;
            padding: 12px 28px 10px;
        }
    }
}

.form-success {
    z-index: 1;
    position: absolute;
    height: 100%;
    top: 0;
    padding: 100px 60px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms, visibility 250ms;

    .is-success & {
        opacity: 1;
        visibility: visible;
    }

    h2 {
        margin-bottom: 50px;
    }
}
.tgp-form-container form {
    transition: opacity 250ms, visibility 250ms;
}
.tgp-form-container.is-success form {
    opacity: 0.05;
}
